*{
    font-family: arial;
    color: white;
}



body {
    background-color: rgb(51, 44, 44);

}

#menu ul {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(65, 64, 64);
    list-style-type: none;
  }
  
#menu  li {
    float: left;
  }
  
#menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
#menu li a:hover {
    background-color: #111;
  }